$primary: #9d0208;
$secondary: #0D1E82;
$light: #f2f2f8;
$dark: #676567;

// background-colors
.bg-primary {
    background-color: $primary;
}
.bg-secondary {
    background-color: $secondary;
}
.bg-light {
    background-color: $light;
}
.bg-dark {
    background-color: $dark;
}

// text-colors
.text-primary {
    color: $primary;
}
.text-secondary {
    color: $secondary;
}
.text-light {
    color: $light;
}
.text-dark {
    color: $dark;
}