@import 'colors';
@import 'transitions';

@mixin flex($direction) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}

@mixin bg-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-pattern {
    background-size: initial;
    background-position: center;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

// containers
.main-container {
    height: 100%;
    width: 100%;
}

.page-content {
    height: 100%;
    width: 900px;
    margin: auto;
    @include flex(row);
    .profile-card {
        width: 450px;
        margin: auto;
        @include flex(column);
        .profile-img {
            height: 200px;
            width: 200px;
            border-radius: 5px;
            @include bg-image();
        }
    }
}