<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- styles -->
    <link rel="stylesheet" href="./css/style.css">

    <!-- header content -->
    <title>Tim Spivack</title>
</head>
    <body data-barba="wrapper">
        <div class="transition-top-bottom"></div>

        <div id="nav">
            <a href="/">Home</a>
            <a href="/about">About</a>
        </div>