<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Raleway:wght@300;400;700&display=swap" rel="stylesheet">
    
    <!-- styles -->
    <link rel="stylesheet" href="./css/style.css">

    <!-- header content -->
    <title>Tim Spivack</title>
</head>
    <body data-barba="wrapper">
        <div id="nav">
            <a href="/">The Spivacks</a>
        </div>
        <div class="transition-top-bottom bg-secondary"></div>