<%- include('partials/head') %>

<main style="background-image: url('./images/pattern-white.png');" data-barba="container" data-barba-namespace="gary" id="gary-content" class="main-container bg-pattern">

    <div class="page-content">
        GARY PAGE
    </div>

</main>

<%- include('partials/foot') %>