<%- include('partials/head') %>

<main style="background-image: url('./images/pattern-white.png');" data-barba="container" data-barba-namespace="index" id="index-content" class="main-container bg-pattern">

    <div class="page-content">
        <div class="profile-card">
            <div style="background-image: url('./images/gary.jpg');" class="profile-img"></div>
            <a href="/gary">Gary</a>
        </div>
        <div class="profile-card">
            <div style="background-image: url('./images/sandi.jpg');" class="profile-img"></div>
            <a href="/sandi">Sandi</a>
        </div>
        <div class="profile-card">
            <div style="background-image: url('./images/tim.png');" class="profile-img"></div>
            <a href="/tim">Tim</a>
        </div>
    </div>

</main>

<%- include('partials/foot') %>