<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Spivacks</title>

    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <div id="login-wrapper" class="bg-pattern" style="background-image: url('./images/pattern-white.png');">
        <div id="login-form-wrapper">
            <form action="/login" method="post">
                <input type="text" placeholder="Username" name="username">
                <input type="password" placeholder="Password" name="password">
                <button type="submit">Login</button>
            </form>
        </div>
    </div>
</body>
</html>