<%- include('partials/head') %>

<main style="background-image: url('./images/sky.jpg');" data-barba="container" data-barba-namespace="tim" id="tim-content" class="main-container bg-pattern">

    <div class="page-content">

        <div class="page-content">
            <div class="profile-page-container">
                <div class="profile-section">
                    <div style="background-image: url('./images/sandi.jpg');" class="profile-img"></div>
                    <div class="links">
                        <a href="#">LinkedIn</a>
                        <a href="#">Facebook</a>
                        <a href="#">Blog</a>
                    </div>
                </div>
                <div class="profile-section">
                    <h1>About</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, maxime vel delectus eos nesciunt autem debitis cum ipsam obcaecati hic, molestias fuga officiis quaerat error, accusantium iure ducimus quasi dolores!</p>
                    <div class="divider"></div>
                    <h1>Experience</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, maxime vel delectus eos nesciunt autem debitis cum ipsam obcaecati hic, molestias fuga officiis quaerat error, accusantium iure ducimus quasi dolores!</p>
                    <div class="divider"></div>
                    <h1>Hobbies</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, maxime vel delectus eos nesciunt autem debitis cum ipsam obcaecati hic, molestias fuga officiis quaerat error, accusantium iure ducimus quasi dolores!</p>
                </div>
            </div>
        </div>

    </div>

</main>

<%- include('partials/foot') %>